.openingScreenContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--main-color);
    z-index: 2;
    transition: opacity .5s ease;
}

.openingScreenContent{
    width: 80%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.openingScreenContent figure{
    width: 65%;
    opacity: 0;
    animation: animationOpeningScreenContent .7s ease-in-out .5s forwards;
}

.openingScreenContent figure img{
    width: 100%;
}

.openingScreenContent h1{
    color: #fff;
    font-size: 10vw;
    opacity: 0;
    animation: animationOpeningScreenContent .7s ease-in-out 1s forwards;
}

.openingScreenContainer .startButton{
    cursor: pointer;
    border: none;
    background-color: var(--main-color);
    border-radius: var(--main-border-radius);
    width: 10rem;
    height: 8rem;
    position: absolute;
    bottom: 2rem;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
    opacity: 0;
    animation: animationOpeningScreenContent .7s ease-in-out 1.5s forwards;
}

.openingScreenContainer .startButton img{
    width: 100%;
}

@keyframes animationOpeningScreenContent {
    from{
        transform: translateX(-2rem);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (min-width: 370px) {
    .openingScreenContent h1{
        font-size: 3rem;
    }
}

@media screen and (min-width: 805px) {
    .openingScreenContainer{
        gap: 4.5rem;
    }

    .openingScreenContent{
        max-width: 32rem;
        flex-direction: row;
    }

    .openingScreenContent h1{
        font-size: 2.7rem;
    }

    .openingScreenContainer .startButton{
        position: static;
        transition: .3s ease-in-out;
        width: 7rem;
        height: 6rem;
    }

    .openingScreenContainer .startButton:hover{
        background-color: var(--secondary-color);
    }
}