.mobileNavbar{
    width: 100vw;
    height: 5rem;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    padding: 1.5rem;
    z-index: 1;
}

.mobileNavbar figure{
    width: 4rem;
    height: 4rem;
    position: relative;
}

.mobileNavbar figure img{
    width: 100%;
}

@media screen and (min-width: 805px) {
    .mobileNavbar{
        display: none;
    }
}